@page "/add-tbl-volunteer-speaker-request/{tblEvent_ID}"
@layout MainLayout
@inherits CoreRadzen.Pages.AddTblVolunteerSpeakerRequestComponent

@using Radzen
@using Radzen.Blazor
@using CoreRadzen.Models.Core
@using CoreRadzen.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm Data="@tblvolunteerspeakerrequest" TItem="CoreRadzen.Models.Core.TblVolunteerSpeakerRequest" Visible="@(tblvolunteerspeakerrequest != null)" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-2" style="padding-right: 1px">
                <RadzenLabel Component="tblSpeaker_ID" style="width: 100%" Text="Volunteer Speaker">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDown Data="@getTblSpeakersResult" Placeholder="Choose Speaker" style="display: block; width: 100%" TextProperty="Name" @bind-Value="@(tblvolunteerspeakerrequest.tblSpeaker_ID)" ValueProperty="tblSpeaker_ID" Name="TblSpeaker_ID">
                </RadzenDropDown>
                <RadzenRequiredValidator Component="TblSpeaker_ID" DefaultValue="0" style="position: absolute" Text="Speaker is required">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Icon="save" Text="Save">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" style="margin-left: 1rem" Text="Cancel" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
