@page "/add-tbl-speaker"
@layout MainLayout
@inherits CoreRadzen.Pages.AddTblSpeakerComponent

@using Radzen
@using Radzen.Blazor
@using CoreRadzen.Models.Core
@using CoreRadzen.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm Data="@tblspeaker" TItem="CoreRadzen.Models.Core.TblSpeaker" Visible="@(tblspeaker != null)" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-2" style="padding-right: 1px">
                <RadzenLabel Component="Name" style="width: 100%" Text="Name">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="250" style="display: block; width: 100%" @bind-Value="@(tblspeaker.Name)" Name="Name">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="Name" style="position: absolute" Text="Name is required">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-2" style="padding-right: 1px">
                <RadzenLabel Component="PhoneNumber" style="width: 100%" Text="Phone Number">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="50" style="display: block; width: 100%" @bind-Value="@(tblspeaker.PhoneNumber)" Name="PhoneNumber">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="PhoneNumber" style="position: absolute" Text="Phone mumber is required">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-2" style="padding-right: 1px">
                <RadzenLabel Component="Email" style="width: 100%" Text="Email">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="250" style="display: block; width: 100%" @bind-Value="@(tblspeaker.Email)" Name="Email">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="Email" style="position: absolute" Text="Email is required">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-2" style="padding-right: 1px">
                <RadzenLabel Component="Connection" style="width: 100%" Text="Connection">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="50" style="display: block; width: 100%" @bind-Value="@(tblspeaker.Connection)" Name="Connection">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="Connection" style="position: absolute" Text="Connection is required">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-2" style="padding-right: 1px">
                <RadzenLabel Component="Background" style="width: 100%" Text="Background">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="250" style="display: block; width: 100%" @bind-Value="@(tblspeaker.Background)" Name="Background">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="Background" style="position: absolute" Text="Background is required">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-2" style="padding-right: 1px">
                <RadzenLabel Component="AccessibilityRequirements" style="width: 100%" Text="Accessibility Requirements">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="250" style="display: block; width: 100%" @bind-Value="@(tblspeaker.AccessibilityRequirements)" Name="AccessibilityRequirements">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="AccessibilityRequirements" style="position: absolute" Text="Accessibility requirements is required">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-2" style="padding-right: 1px">
                <RadzenLabel Component="Quote" style="width: 100%" Text="Quote">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="250" style="width: 100%" @bind-Value="@(tblspeaker.Quote)" Name="Quote">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-2" style="padding-right: 1px">
                <RadzenLabel Component="tblADUser_ID" style="width: 100%" Text="Speaker">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDownDataGrid Data="@(getTblAdUsersFortblADUser_IDResult)" Placeholder="Choose User" ShowSearch="false" style="width: 100%" TextProperty="UserName" @bind-Value="@(tblspeaker.tblADUser_ID)" ValueProperty="tblADUser_ID" Name="TblADUser_ID">
                </RadzenDropDownDataGrid>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Icon="save" Text="Save">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" style="margin-left: 1rem" Text="Cancel" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
