@page "/add-tbl-core-attendance/{tblEvent_ID}"
@layout MainLayout
@inherits CoreRadzen.Pages.AddTblCoreAttendanceComponent

@using Radzen
@using Radzen.Blazor
@using CoreRadzen.Models.Core
@using CoreRadzen.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm Data="@tblcoreattendance" TItem="CoreRadzen.Models.Core.TblCoreAttendance" Visible="@(tblcoreattendance != null)" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-2" style="padding-right: 1px">
                <RadzenLabel Component="tblADUser_ID" style="width: 100%" Text="CORE Attendance">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDown Data="@getTblAdUsersResult" Placeholder="Choose User" style="display: block; width: 100%" TextProperty="UserName" @bind-Value="@(tblcoreattendance.tblADUser_ID)" ValueProperty="tblADUser_ID" Name="TblADUser_ID">
                </RadzenDropDown>
                <RadzenRequiredValidator Component="TblADUser_ID" DefaultValue="0" style="position: absolute" Text="User is required">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Icon="save" Text="Save">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" style="margin-left: 1rem" Text="Cancel" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
