@page "/edit-events/{tblEvent_ID}"
@layout MainLayout
@inherits CoreRadzen.Pages.EditEventsComponent

@using Radzen
@using Radzen.Blazor
@using CoreRadzen.Models.Core
@using CoreRadzen.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Edit Events">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm Data="@tblevent" TItem="CoreRadzen.Models.Core.TblEvent" Visible="@(tblevent != null)" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-2" style="padding-right: 1px">
                <RadzenLabel Component="EventDate" style="width: 100%" Text="Date">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDatePicker DateFormat="MM/dd/yyyy" HourFormat="12" ShowTimeOkButton="false" style="display: block; width: 100%" @bind-Value="@(tblevent.EventDate)" Name="EventDate">
                </RadzenDatePicker>
                <RadzenRequiredValidator Component="EventDate" style="position: absolute" Text="Event date is required">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-2" style="padding-right: 1px">
                <RadzenLabel Component="StartTime" style="width: 100%" Text="Start Time">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDatePicker DateFormat="hh:mm tt" HourFormat="12" ShowTime="true" style="display: block; width: 100%" TimeOnly="true" @bind-Value="@(tblevent.StartTime)" Name="StartTime">
                </RadzenDatePicker>
                <RadzenRequiredValidator Component="StartTime" style="position: absolute" Text="Start time is required">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-2" style="padding-right: 1px">
                <RadzenLabel Component="EndTime" style="width: 100%" Text="End Time">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDatePicker DateFormat="hh:mm tt" HourFormat="12" ShowTime="true" style="display: block; width: 100%" TimeOnly="true" @bind-Value="@(tblevent.EndTime)" Name="EndTime">
                </RadzenDatePicker>
                <RadzenRequiredValidator Component="EndTime" style="position: absolute" Text="End time is required">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-2" style="padding-right: 1px">
                <RadzenLabel Component="HospitalID" style="width: 100%" Text="Hospital">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDownDataGrid Data="@getTblHospitalsForHospitalIDResult" Placeholder="Choose Hospital" ShowSearch="false" style="display: block; width: 100%" TextProperty="HospitalName" @bind-Value="@(tblevent.HospitalID)" ValueProperty="HospitalID" Name="HospitalID">
                </RadzenDropDownDataGrid>
                <RadzenRequiredValidator Component="HospitalID" DefaultValue="0" style="position: absolute" Text="Hospital is required">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-2" style="padding-right: 1px">
                <RadzenLabel Component="LocationDetails" style="width: 100%" Text="Location Details">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="500" style="display: block; width: 100%" @bind-Value="@(tblevent.LocationDetails)" Name="LocationDetails">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="LocationDetails" style="position: absolute" Text="Location details is required">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-2" style="padding-right: 1px">
                <RadzenLabel Component="EventType" style="width: 100%" Text="Event Type">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="50" style="display: block; width: 100%" @bind-Value="@(tblevent.EventType)" Name="EventType">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="EventType" style="position: absolute" Text="Event type is required">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-2" style="padding-right: 1px">
                <RadzenLabel Component="EventDescription" style="width: 100%" Text="Event Description">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="50" style="display: block; width: 100%" @bind-Value="@(tblevent.EventDescription)" Name="EventDescription">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="EventDescription" style="position: absolute" Text="Event description is required">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-2" style="padding-right: 1px">
                <RadzenLabel Component="EventDetails" style="width: 100%" Text="Event Details">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="500" style="display: block; width: 100%" @bind-Value="@(tblevent.EventDetails)" Name="EventDetails">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="EventDetails" style="position: absolute" Text="Event details is required">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-2" style="padding-right: 1px">
                <RadzenLabel Component="SpeakerNeeds" style="width: 100%" Text="Speaker Needs">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="500" style="display: block; width: 100%" @bind-Value="@(tblevent.SpeakerNeeds)" Name="SpeakerNeeds">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="SpeakerNeeds" style="position: absolute" Text="Speaker needs is required">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-2" style="padding-right: 1px">
                <RadzenLabel Component="LeadershipSpeakerRequested" style="width: 100%" Text="Leadership Speaker Requested?">
                </RadzenLabel>
              </div>
              <div class="col-md-9" style="display: block">
                <RadzenCheckBox @bind-Value="@(tblevent.LeadershipSpeakerRequested)" Name="LeadershipSpeakerRequested">
                </RadzenCheckBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-2" style="padding-right: 1px">
                <RadzenLabel Component="LeadershipSpeaker" style="width: 100%" Text="Leadership Speaker">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="500" style="width: 100%" @bind-Value="@(tblevent.LeadershipSpeaker)" Name="LeadershipSpeaker">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-2" style="padding-right: 1px">
                <RadzenLabel Component="LeadershipSpeechLength" style="width: 100%" Text="Leadership Speech Length">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="width: 100%" @bind-Value="@(tblevent.LeadershipSpeechLength)" Name="LeadershipSpeechLength">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-2" style="padding-right: 1px">
                <RadzenLabel Component="LeadershipSpeechLength" style="width: 251.5px" Text="Volunteer Speakers Requested">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDataGrid @ref="grid2" AllowFiltering="true" AllowPaging="true" AllowSorting="true" ColumnWidth="auto" Data="@TblVolunteerSpeakerRequests" FilterMode="Radzen.FilterMode.Advanced" TItem="CoreRadzen.Models.Core.TblVolunteerSpeakerRequest" Responsive="true" style="display: flex" RowSelect="@Grid2RowSelect">
                  <Columns>
                    <RadzenDataGridColumn TItem="CoreRadzen.Models.Core.TblVolunteerSpeakerRequest" Property="tblVolunteerSpeakerRequests_ID" Title="Tbl Volunteer Speaker Requests ID" Visible="false">
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="CoreRadzen.Models.Core.TblVolunteerSpeakerRequest" FilterProperty="TblEvent.LocationDetails" GroupProperty="TblEvent.LocationDetails" Property="tblEvent_ID" SortProperty="TblEvent.LocationDetails" Title="Event" Visible="false">
                      <Template Context="data">
                      @(data.TblEvent?.LocationDetails)
                      </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="CoreRadzen.Models.Core.TblVolunteerSpeakerRequest" FilterProperty="TblSpeaker.Name" GroupProperty="TblSpeaker.Name" Property="tblSpeaker_ID" SortProperty="TblSpeaker.Name" Title="Speakers">
                      <Template Context="data">
                      @(data.TblSpeaker?.Name)
                      </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="CoreRadzen.Models.Core.TblVolunteerSpeakerRequest" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="70px">
                      <Template Context="coreRadzenModelsCoreTblVolunteerSpeakerRequest">
                        <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>TblVolunteerSpeakerRequestDeleteButtonClick(args, coreRadzenModelsCoreTblVolunteerSpeakerRequest))" @onclick:stopPropagation="true">
                        </RadzenButton>
                      </Template>
                    </RadzenDataGridColumn>
                  </Columns>
                </RadzenDataGrid>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-2">
              </div>
              <div class="col-md-9">
                <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px; margin-right: 10px; margin-top: 10px" Text="Add" Click="@Button0Click">
                </RadzenButton>
                <RadzenButton Icon="add_circle_outline" Size="ButtonSize.Medium" style="margin-bottom: 10px" Text="Add New Speaker" Click="@Button3Click">
                </RadzenButton>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-2" style="padding-right: 1px">
                <RadzenLabel Component="VolunteerSpeechLength" style="width: 100%" Text="Volunteer Speech Length">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="width: 100%" @bind-Value="@(tblevent.VolunteerSpeechLength)" Name="VolunteerSpeechLength">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-2" style="padding-right: 1px">
                <RadzenLabel Component="AudienceTypes" style="width: 100%" Text="Audience Types">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDown Chips="true" Data="@audienceTypeList" Multiple="true" style="width: 100%" TextProperty="Name" @bind-Value="@selectedAudienceTypes" ValueProperty="Id" Name="Dropdown0" Change="@Dropdown0Change">
                </RadzenDropDown>
                <RadzenTextBox MaxLength="50" style="display: block; height: 18px; width: 17.5px" @bind-Value="@(tblevent.AudienceTypes)" Visible="false" Name="AudienceTypes">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="AudienceTypes" style="position: absolute" Text="Audience types is required">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-2" style="padding-right: 1px">
                <RadzenLabel Component="EstimatedAttendees" style="width: 100%" Text="Estimated Attendees">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="50" style="display: block; width: 100%" @bind-Value="@(tblevent.EstimatedAttendees)" Name="EstimatedAttendees">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="EstimatedAttendees" style="position: absolute" Text="Estimated attendees is required">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-2" style="padding-right: 1px">
                <RadzenLabel Component="SocialMediaOrVideoNeeds" style="width: 100%" Text="Social Media Or Video Needs">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="500" style="display: block; width: 100%" @bind-Value="@(tblevent.SocialMediaOrVideoNeeds)" Name="SocialMediaOrVideoNeeds">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="SocialMediaOrVideoNeeds" style="position: absolute" Text="Social media or video needs is required">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-2" style="padding-right: 1px">
                <RadzenLabel Component="IsLegislatorsInvited" style="width: 100%" Text="Are Legislators Invited?">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenCheckBox @bind-Value="@(tblevent.IsLegislatorsInvited)" Name="IsLegislatorsInvited">
                </RadzenCheckBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-2" style="padding-right: 1px">
                <RadzenLabel Component="IsLegislatorsAttending" style="width: 100%" Text="Are Legislators Attending?">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenCheckBox @bind-Value="@(tblevent.IsLegislatorsAttending)" Name="IsLegislatorsAttending">
                </RadzenCheckBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-2" style="padding-right: 1px">
                <RadzenLabel Component="IsQuiltRequested" style="width: 100%" Text="Is Quilt Requested?">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenCheckBox @bind-Value="@(tblevent.IsQuiltRequested)" Name="IsQuiltRequested">
                </RadzenCheckBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-2" style="padding-right: 1px">
                <RadzenLabel Component="QuiltNumber" style="width: 100%" Text="Quilt Number">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="500" style="width: 100%" @bind-Value="@(tblevent.QuiltNumber)" Name="QuiltNumber">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-2" style="padding-right: 1px">
                <RadzenLabel Component="QuiltCoordinator" style="width: 100%" Text="Quilt Coordinator">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="500" style="width: 100%" @bind-Value="@(tblevent.QuiltCoordinator)" Name="QuiltCoordinator">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-2" style="padding-right: 1px">
                <RadzenLabel Component="IsVehicleRequested" style="width: 100%" Text="Is Vehicle Requested?">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenCheckBox @bind-Value="@(tblevent.IsVehicleRequested)" Name="IsVehicleRequested">
                </RadzenCheckBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-2" style="padding-right: 1px">
                <RadzenLabel Component="IsVehicleReserved" style="width: 100%" Text="Is Vehicle Reserved?">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenCheckBox TriState="true" @bind-Value="@(tblevent.IsVehicleReserved)" Name="IsVehicleReserved">
                </RadzenCheckBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-2" style="padding-right: 1px">
                <RadzenLabel Component="VehicleDriver" style="width: 100%" Text="Vehicle Driver">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="500" style="width: 100%" @bind-Value="@(tblevent.VehicleDriver)" Name="VehicleDriver">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-2" style="padding-right: 1px">
                <RadzenLabel Component="OnsiteContactName" style="width: 100%" Text="Onsite Contact Name">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="500" style="width: 100%" @bind-Value="@(tblevent.OnsiteContactName)" Name="OnsiteContactName">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-2" style="padding-right: 1px">
                <RadzenLabel Component="OnsiteContactPhone" style="width: 100%" Text="Onsite Contact Phone">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="50" style="width: 100%" @bind-Value="@(tblevent.OnsiteContactPhone)" Name="OnsiteContactPhone">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-2" style="padding-right: 1px">
                <RadzenLabel Component="OnsiteContactEmail" style="width: 100%" Text="Onsite Contact Email">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="500" style="width: 100%" @bind-Value="@(tblevent.OnsiteContactEmail)" Name="OnsiteContactEmail">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-2" style="margin-right: 1px; padding-right: 1px">
                <RadzenLabel Component="OnsiteContactEmail" style="width: 100%" Text="CORE Team Members Attending">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@TblCoreAttendanceAddButtonClick">
                </RadzenButton>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-2">
              </div>
              <div class="col-md-9">
                <RadzenDataGrid @ref="grid1" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@TblCoreAttendances" FilterMode="Radzen.FilterMode.Advanced" TItem="CoreRadzen.Models.Core.TblCoreAttendance" RowSelect="@Grid1RowSelect">
                  <Columns>
                    <RadzenDataGridColumn TItem="CoreRadzen.Models.Core.TblCoreAttendance" Property="tblCOREAttendance_ID" Title="Tbl CORE Attendance ID" Visible="false">
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="CoreRadzen.Models.Core.TblCoreAttendance" FilterProperty="TblEvent.LocationDetails" GroupProperty="TblEvent.LocationDetails" Property="tblEvent_ID" SortProperty="TblEvent.LocationDetails" Title="Tbl Event" Visible="false">
                      <Template Context="data">
                      @(data.TblEvent?.LocationDetails)
                      </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="CoreRadzen.Models.Core.TblCoreAttendance" FilterProperty="TblAdUser.UserName" GroupProperty="TblAdUser.UserName" Property="tblADUser_ID" SortProperty="TblAdUser.UserName" Title="CORE Team Members">
                      <Template Context="data">
                      @(data.TblAdUser?.UserName)
                      </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="CoreRadzen.Models.Core.TblCoreAttendance" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="70px">
                      <Template Context="coreRadzenModelsCoreTblCoreAttendance">
                        <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>TblCoreAttendanceDeleteButtonClick(args, coreRadzenModelsCoreTblCoreAttendance))" @onclick:stopPropagation="true">
                        </RadzenButton>
                      </Template>
                    </RadzenDataGridColumn>
                  </Columns>
                </RadzenDataGrid>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-2" style="margin-right: 1px; padding-right: 1px">
                <RadzenLabel Component="IsLocked" style="width: 100%" Text="Is Locked?" Visible="false">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenCheckBox @bind-Value="@(tblevent.IsLocked)" Visible="false" Name="IsLocked">
                </RadzenCheckBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-2" style="margin-right: 1px; padding-right: 1px">
                <RadzenLabel Component="PlaceToMeet" style="width: 100%" Text="Place To Meet">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="500" style="display: block; width: 100%" @bind-Value="@(tblevent.PlaceToMeet)" Name="PlaceToMeet">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="PlaceToMeet" style="position: absolute" Text="Place to meet is required">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-2" style="margin-right: 1px; padding-right: 1px">
                <RadzenLabel Component="AdditionalInformation" style="width: 100%" Text="Additional Information">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="500" style="width: 100%" @bind-Value="@(tblevent.AdditionalInformation)" Name="AdditionalInformation">
                </RadzenTextBox>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Icon="save" Text="Save">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" style="margin-left: 1rem" Text="Cancel" Click="@Button5Click">
                </RadzenButton>
              </div>
            </div>
            <div class="col-md-12">
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
