@page "/edit-tbl-speaker/{tblSpeaker_ID}"
@layout MainLayout
@inherits CoreRadzen.Pages.EditTblSpeakerComponent

@using Radzen
@using Radzen.Blazor
@using CoreRadzen.Models.Core
@using CoreRadzen.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm TItem="CoreRadzen.Models.Core.TblSpeaker" Data="@tblspeaker" Visible="@(tblspeaker != null)" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Name" Component="Name" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="250" style="display: block; width: 100%" @bind-Value="@(tblspeaker.Name)" Name="Name">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="Name" Text="Name is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Phone Number" Component="PhoneNumber" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="50" style="display: block; width: 100%" @bind-Value="@(tblspeaker.PhoneNumber)" Name="PhoneNumber">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="PhoneNumber" Text="PhoneNumber is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Email" Component="Email" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="250" style="display: block; width: 100%" @bind-Value="@(tblspeaker.Email)" Name="Email">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="Email" Text="Email is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Connection" Component="Connection" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="50" style="display: block; width: 100%" @bind-Value="@(tblspeaker.Connection)" Name="Connection">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="Connection" Text="Connection is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Background" Component="Background" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="250" style="display: block; width: 100%" @bind-Value="@(tblspeaker.Background)" Name="Background">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="Background" Text="Background is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Accessibility Requirements" Component="AccessibilityRequirements" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="250" style="display: block; width: 100%" @bind-Value="@(tblspeaker.AccessibilityRequirements)" Name="AccessibilityRequirements">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="AccessibilityRequirements" Text="AccessibilityRequirements is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Quote" Component="Quote" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="250" style="width: 100%" @bind-Value="@(tblspeaker.Quote)" Name="Quote">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Tbl Ad User" Component="tblADUser_ID" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDownDataGrid Data="@(getTblAdUsersFortblADUser_IDResult)" TextProperty="UserName" ValueProperty="tblADUser_ID" Placeholder="Choose TblAdUser" ShowSearch="false" style="width: 100%" @bind-Value="@(tblspeaker.tblADUser_ID)" Name="TblADUser_ID">
                </RadzenDropDownDataGrid>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" ButtonStyle="ButtonStyle.Primary">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" style="margin-left: 1rem" Text="Cancel" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
