@page "/tbl-events"
@layout MainLayout
@inherits CoreRadzen.Pages.TblEventsComponent

@using Radzen
@using Radzen.Blazor
@using CoreRadzen.Models.Core
@using CoreRadzen.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="TblEvents">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@Button0Click">
        </RadzenButton>
        <RadzenSplitButton Icon="get_app" style="margin-bottom: 10px; margin-left: 10px" Text="Export" Click="@Splitbutton0Click">
          <ChildContent>
            <RadzenSplitButtonItem Text="Excel" Value="xlsx">
            </RadzenSplitButtonItem>
            <RadzenSplitButtonItem Text="CSV" Value="csv">
            </RadzenSplitButtonItem>
          </ChildContent>
        </RadzenSplitButton>
        <RadzenTextBox Placeholder="Search ..." style="display: block; margin-bottom: 10px; width: 100%" Name="Textbox0" @oninput="@(async(args) => {search = $"{args.Value}";await grid0.GoToPage(0);await Load();})">
        </RadzenTextBox>
        <RadzenDataGrid @ref="grid0" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@getTblEventsResult" FilterMode="Radzen.FilterMode.Advanced" TItem="CoreRadzen.Models.Core.TblEvent" Render="@Grid0Render" RowDoubleClick="@Grid0RowDoubleClick" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenDataGridColumn TItem="CoreRadzen.Models.Core.TblEvent" Property="tblEvent_ID" Title="Tbl Event ID">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="CoreRadzen.Models.Core.TblEvent" FormatString="{0:d}" Property="EventDate" Title="Event Date">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="CoreRadzen.Models.Core.TblEvent" FormatString="{0:d}" Property="StartTime" Title="Start Time">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="CoreRadzen.Models.Core.TblEvent" FormatString="{0:d}" Property="EndTime" Title="End Time">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="CoreRadzen.Models.Core.TblEvent" FilterProperty="TblHospital.HospitalName" GroupProperty="TblHospital.HospitalName" Property="HospitalID" SortProperty="TblHospital.HospitalName" Title="Tbl Hospital">
              <Template Context="data">
              @(data.TblHospital?.HospitalName)
              </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="CoreRadzen.Models.Core.TblEvent" Property="LocationDetails" Title="Location Details">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="CoreRadzen.Models.Core.TblEvent" Property="EventType" Title="Event Type">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="CoreRadzen.Models.Core.TblEvent" Property="EventDescription" Title="Event Description">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="CoreRadzen.Models.Core.TblEvent" Property="EventDetails" Title="Event Details">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="CoreRadzen.Models.Core.TblEvent" Property="SpeakerNeeds" Title="Speaker Needs">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="CoreRadzen.Models.Core.TblEvent" Property="LeadershipSpeakerRequested" Title="Leadership Speaker Requested">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="CoreRadzen.Models.Core.TblEvent" Property="LeadershipSpeaker" Title="Leadership Speaker">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="CoreRadzen.Models.Core.TblEvent" Property="LeadershipSpeechLength" Title="Leadership Speech Length">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="CoreRadzen.Models.Core.TblEvent" Property="VolunteerSpeechLength" Title="Volunteer Speech Length">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="CoreRadzen.Models.Core.TblEvent" Property="AudienceTypes" Title="Audience Types">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="CoreRadzen.Models.Core.TblEvent" Property="EstimatedAttendees" Title="Estimated Attendees">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="CoreRadzen.Models.Core.TblEvent" Property="SocialMediaOrVideoNeeds" Title="Social Media Or Video Needs">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="CoreRadzen.Models.Core.TblEvent" Property="IsLegislatorsInvited" Title="Is Legislators Invited">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="CoreRadzen.Models.Core.TblEvent" Property="IsLegislatorsAttending" Title="Is Legislators Attending">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="CoreRadzen.Models.Core.TblEvent" Property="IsQuiltRequested" Title="Is Quilt Requested">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="CoreRadzen.Models.Core.TblEvent" Property="QuiltNumber" Title="Quilt Number">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="CoreRadzen.Models.Core.TblEvent" Property="QuiltCoordinator" Title="Quilt Coordinator">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="CoreRadzen.Models.Core.TblEvent" Property="IsVehicleRequested" Title="Is Vehicle Requested">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="CoreRadzen.Models.Core.TblEvent" Property="IsVehicleReserved" Title="Is Vehicle Reserved">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="CoreRadzen.Models.Core.TblEvent" Property="VehicleDriver" Title="Vehicle Driver">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="CoreRadzen.Models.Core.TblEvent" Property="OnsiteContactName" Title="Onsite Contact Name">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="CoreRadzen.Models.Core.TblEvent" Property="OnsiteContactPhone" Title="Onsite Contact Phone">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="CoreRadzen.Models.Core.TblEvent" Property="OnsiteContactEmail" Title="Onsite Contact Email">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="CoreRadzen.Models.Core.TblEvent" Property="IsLocked" Title="Is Locked">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="CoreRadzen.Models.Core.TblEvent" Property="PlaceToMeet" Title="Place To Meet">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="CoreRadzen.Models.Core.TblEvent" Property="AdditionalInformation" Title="Additional Information">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="CoreRadzen.Models.Core.TblEvent" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="70px">
              <Template Context="coreRadzenModelsCoreTblEvent">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, coreRadzenModelsCoreTblEvent))" @onclick:stopPropagation="true">
                </RadzenButton>
              </Template>
            </RadzenDataGridColumn>
          </Columns>
        </RadzenDataGrid>
        <RadzenHeading Size="H1" Text="TblCoreAttendances">
        </RadzenHeading>
        <RadzenButton Disabled="@(this.master == null)" Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@TblCoreAttendanceAddButtonClick">
        </RadzenButton>
        <RadzenDataGrid @ref="grid1" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@TblCoreAttendances" FilterMode="Radzen.FilterMode.Advanced" TItem="CoreRadzen.Models.Core.TblCoreAttendance" RowSelect="@Grid1RowSelect">
          <Columns>
            <RadzenDataGridColumn TItem="CoreRadzen.Models.Core.TblCoreAttendance" Property="tblCOREAttendance_ID" Title="Tbl CORE Attendance ID">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="CoreRadzen.Models.Core.TblCoreAttendance" FilterProperty="TblEvent.LocationDetails" GroupProperty="TblEvent.LocationDetails" Property="tblEvent_ID" SortProperty="TblEvent.LocationDetails" Title="Tbl Event">
              <Template Context="data">
              @(data.TblEvent?.LocationDetails)
              </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="CoreRadzen.Models.Core.TblCoreAttendance" FilterProperty="TblAdUser.UserName" GroupProperty="TblAdUser.UserName" Property="tblADUser_ID" SortProperty="TblAdUser.UserName" Title="Tbl Ad User">
              <Template Context="data">
              @(data.TblAdUser?.UserName)
              </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="CoreRadzen.Models.Core.TblCoreAttendance" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="70px">
              <Template Context="coreRadzenModelsCoreTblCoreAttendance">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>TblCoreAttendanceDeleteButtonClick(args, coreRadzenModelsCoreTblCoreAttendance))" @onclick:stopPropagation="true">
                </RadzenButton>
              </Template>
            </RadzenDataGridColumn>
          </Columns>
        </RadzenDataGrid>
        <RadzenHeading Size="H1" Text="TblVolunteerSpeakerRequests">
        </RadzenHeading>
        <RadzenButton Disabled="@(this.master == null)" Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@TblVolunteerSpeakerRequestAddButtonClick">
        </RadzenButton>
        <RadzenDataGrid @ref="grid2" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@TblVolunteerSpeakerRequests" FilterMode="Radzen.FilterMode.Advanced" TItem="CoreRadzen.Models.Core.TblVolunteerSpeakerRequest" RowSelect="@Grid2RowSelect">
          <Columns>
            <RadzenDataGridColumn TItem="CoreRadzen.Models.Core.TblVolunteerSpeakerRequest" Property="tblVolunteerSpeakerRequests_ID" Title="Tbl Volunteer Speaker Requests ID">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="CoreRadzen.Models.Core.TblVolunteerSpeakerRequest" FilterProperty="TblEvent.LocationDetails" GroupProperty="TblEvent.LocationDetails" Property="tblEvent_ID" SortProperty="TblEvent.LocationDetails" Title="Tbl Event">
              <Template Context="data">
              @(data.TblEvent?.LocationDetails)
              </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="CoreRadzen.Models.Core.TblVolunteerSpeakerRequest" FilterProperty="TblSpeaker.Name" GroupProperty="TblSpeaker.Name" Property="tblSpeaker_ID" SortProperty="TblSpeaker.Name" Title="Tbl Speaker">
              <Template Context="data">
              @(data.TblSpeaker?.Name)
              </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="CoreRadzen.Models.Core.TblVolunteerSpeakerRequest" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="70px">
              <Template Context="coreRadzenModelsCoreTblVolunteerSpeakerRequest">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>TblVolunteerSpeakerRequestDeleteButtonClick(args, coreRadzenModelsCoreTblVolunteerSpeakerRequest))" @onclick:stopPropagation="true">
                </RadzenButton>
              </Template>
            </RadzenDataGridColumn>
          </Columns>
        </RadzenDataGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
