@page "/volunteer-speakers"
@layout MainLayout
@inherits CoreRadzen.Pages.VolunteerSpeakersComponent

@using Radzen
@using Radzen.Blazor
@using CoreRadzen.Models.Core
@using CoreRadzen.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Volunteer Speakers">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenTextBox Placeholder="Search ..." style="display: block; margin-bottom: 10px; width: 100%" Name="Textbox0" @oninput="@(async(args) => {search = $"{args.Value}";await grid0.GoToPage(0);await Load();})">
        </RadzenTextBox>
        <RadzenDataGrid @ref="grid0" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@getTblSpeakersResult" FilterMode="Radzen.FilterMode.Advanced" TItem="CoreRadzen.Models.Core.TblSpeaker" RowDoubleClick="@Grid0RowDoubleClick">
          <Columns>
            <RadzenDataGridColumn TItem="CoreRadzen.Models.Core.TblSpeaker" Property="Name" Title="Name">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="CoreRadzen.Models.Core.TblSpeaker" Property="PhoneNumber" Title="Phone Number">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="CoreRadzen.Models.Core.TblSpeaker" Property="Email" Title="Email">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="CoreRadzen.Models.Core.TblSpeaker" Property="Connection" Title="Connection">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="CoreRadzen.Models.Core.TblSpeaker" Property="Background" Title="Background">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="CoreRadzen.Models.Core.TblSpeaker" Property="AccessibilityRequirements" Title="Accessibility Requirements">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="CoreRadzen.Models.Core.TblSpeaker" Property="Quote" Title="Quote">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="CoreRadzen.Models.Core.TblSpeaker" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="70px">
              <Template Context="coreRadzenModelsCoreTblSpeaker">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.Small" style="color: #28363c" Variant="Variant.Text" Click="@((args) =>GridDeleteButtonClick(args, coreRadzenModelsCoreTblSpeaker))" @onclick:stopPropagation="true">
                </RadzenButton>
              </Template>
            </RadzenDataGridColumn>
          </Columns>
        </RadzenDataGrid>
        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px; margin-top: 10px" Text="Add" Click="@Button0Click">
        </RadzenButton>
        <RadzenSplitButton Icon="get_app" style="margin-bottom: 10px; margin-left: 10px" Text="Export" Click="@Splitbutton0Click">
          <ChildContent>
            <RadzenSplitButtonItem Text="Excel" Value="xlsx">
            </RadzenSplitButtonItem>
            <RadzenSplitButtonItem Text="CSV" Value="csv">
            </RadzenSplitButtonItem>
          </ChildContent>
        </RadzenSplitButton>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
